<% content_for :title, "Editing casa" %>

<h1>Editing casa</h1>

<%= render "form", casa: @casa %>

<br>

<div>
  <%= link_to "Show this casa", @casa %> |
  <%= link_to "Back to casas", casas_path %>
</div>
