@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MedievalSharp&family=Nanum+Gothic+Coding&display=swap');


body{
    padding: 15px;
}

h1{
    color: darkgreen;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 1000;
    font-style: bolder;
}

.btn_principal{
    color: white;
    background-color: darkgreen;
}


